.vs

coredlls

lib/RenderCore_Bart/x64
lib/RenderCore_Minimal/x64
lib/RenderCore_Optix7Filter/x64
lib/RenderCore_OptixPrime_B/x64
lib/RenderCore_PrimeRef/x64
lib/RenderCore_SoftRasterizer/x64
lib/RenderCore_OptixPrime_BDPT/x64
lib/rendercore_optix7/x64
lib/rendercore_vulkan_rt/x64
lib/platform/x64
lib/platform/lib
lib/RenderSystem/lib
lib/RenderSystem/x64
lib/PathFinding/x64
lib/ai_debugger/x64

apps/imguiapp/x64
apps/imguiapp/imguiapp.exe
apps/imguiapp/imguiapp.exp
apps/imguiapp/imguiapp.ilk
apps/imguiapp/imguiapp.iobj
apps/imguiapp/imguiapp.ipdb
apps/imguiapp/imguiapp.lib
apps/imguiapp/imguiapp.pdb
apps/imguiapp/data/sky_15.bin

apps/tinyapp/x64
apps/tinyapp/tinyapp.exe
apps/tinyapp/tinyapp.ilk
apps/tinyapp/tinyapp.iobj
apps/tinyapp/tinyapp.ipdb
apps/tinyapp/tinyapp.pdb

apps/ai_debugger/x64
apps/ai_debugger/ai_debugger.exe
apps/ai_debugger/ai_debugger.ilk
apps/ai_debugger/ai_debugger.iobj
apps/ai_debugger/ai_debugger.ipdb
apps/ai_debugger/ai_debugger.pdb
apps/ai_debugger/ai_debugger.lib